* {
  box-sizing: border-box;
}

body {
  /* width: 100%; */
  width: 1920px;
  height: 1080px;
  background: var(--white-white_FFFFFF, #fff);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1198px;
  height: 36px;
  margin-top: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: #000000;
}

.create-button {
  background-color: blue;
  color: #ffffff;
  font-size: 18px;
  padding: 5px 25px;
  border: none;
  border-radius: 20px;
}

.search-input {
  margin: 30px 0px;
  padding: 10px 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #000000;
  width: 1199px;
  height: 55px;

  background-image: url("../public/search.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 15px center;
  background-color: rgb(225, 219, 219);
}

.search-input::placeholder {
  color: #1d1b1b;
  font-style: italic;
}

.search-input:focus::placeholder {
  color: #6d6868;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-content: center;
}
