.gallery {
  width: 587px;
  height: 237px;
  flex-shrink: 0;
  border-radius: 25px;
}

.gallery img {
  width: 15%;
  height: 15%;
  object-fit: cover;
}

.name-title {
  font-size: 25px;
  font-weight: 800;
}

.products-title {
  font-size: 20px;
  font-weight: 500;
}
